h1 {
    color: red;
    font: georgia;
}

body {}

.gameboard {
    width: 330px;
    height: 320px;
    border-color: Red;
    border-style: solid;
}

.row1 {
    height: 101px;
    border-color: blue;
    border-style: solid;
}

.row2 {
    height: 101px;
    border-color: blue;
    border-style: solid;
}

.row3 {
    height: 101px;
    border-color: blue;
    border-style: solid;
}

.cell1 {
    height: 100px;
    border-color: blue;
    border-style: solid;
}
